@{
    TempData["Title"] = "DepartmentEntry";
}
<h3>Department Entry</h3>
@{
    var info = TempData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(TempData["Status"]))
    {
        <div class="alert alert-success" role="alert">@info</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">@info</div>
    }
}
<form id="department" action="/department/entry" method="post">
    <div class="mb-3">
        <label class="form-label">Code:</label>
        <input type="text" class="form-control" name="Code" minlength="2" maxlength="10" placeholder="Type department code...." required />
    </div>
    <div class="mb-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" name="Name" minlength="4" maxlength="30" placeholder="Type department name...." required />
    </div>
    <div class="mb-3">
        <label class="form-label">ExtensionPhone:</label>
        <input type="text" class="form-control" name="ExtensionPhone" minlength="8" maxlength="13" placeholder="Type phone...." required />
    </div>
    <button type="submit" class="btn btn-primary" id="entry">Entry</button>
    <a href="/department/list" class="btn btn-outline-primary">Goto List</a>

    <!--javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#entry').prop('disabled', true);
            function checkFormValidity() {
                const form = document.getElementById('department');
                if (form.checkValidity()) {
                    $('#entry').prop('disabled', false);
                } else {
                    $('#entry').prop('disabled', true);
                }
            }

            checkFormValidity();

            // Add event listeners to form inputs to trigger validation check on change
            $('#department input, #department select').on('input change', function () {
                checkFormValidity();
            });
        });
    </script>
</form>